.version.index /* version checker */
{
	color: #000005;
	background-color: #F43248;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	background-image: none;
	background-color: #FFFFFF;
	border-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	z-index: 1;
	border-width: 0px;
}

#pu1133
{
	margin-right: -10000px;
	width: 100%;
}

#u1133
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	position: relative;
	z-index: 8;
	height: 538px;
	-pie-background: rgba(0,0,0,0.73);
	background-size: cover;
}

#u287
{
	min-height: 230px;
	z-index: 5;
	padding-bottom: 20px;
	background: #7F7F7F url("../images/mg_0238.jpg") no-repeat center center;
	background-size: cover;
}

#u4263
{
	margin-right: -10000px;
	margin-top: 115px;
	background-color: transparent;
	border-color: transparent;
	left: 30px;
	width: 115px;
	position: relative;
	z-index: 104;
	border-width: 0px;
}

#u4212
{
	margin-right: -10000px;
	background-color: transparent;
	border-color: transparent;
	width: 115px;
	position: relative;
	z-index: 105;
	border-width: 0px;
}

#u4213
{
	border-radius: 1000px 1000px 1000px 0px ;
	background-color: #FFFFFF;
	margin-right: -10000px;
	width: 115px;
	position: relative;
	z-index: 106;
	height: 115px;
}

#u4221
{
	margin-right: -10000px;
	margin-top: 37px;
	background-color: transparent;
	left: 8px;
	width: 98px;
	position: relative;
	z-index: 107;
}

#u287-bw
{
	min-height: 230px;
	margin-top: 10px;
	z-index: 5;
}

#u249-4
{
	text-transform: none;
	line-height: 36px;
	font-size: 30px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	z-index: 10;
}

#u1961
{
	left: -135px;
	position: relative;
	background-color: transparent;
	border-color: transparent;
	margin-left: 100%;
	width: 115px;
	z-index: 96;
	border-width: 0px;
}

#u1958
{
	border-radius: 1000px 0px 1000px 1000px ;
	left: -115px;
	margin-left: 100%;
	background-color: #FFFFFF;
	margin-right: -10000px;
	width: 115px;
	position: relative;
	z-index: 97;
	padding-bottom: 35px;
}

#u1802-6
{
	-ms-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-3,12);
	left: -131px;
	margin-top: 34px;
	transform: matrix(0.9877,-0.1564,0.1564,0.9877,-3,12);
	-webkit-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-3,12);
	margin-right: -10000px;
	width: 149px;
	position: relative;
	z-index: 98;
	margin-left: 100%;
}

#pu1575
{
	width: 100%;
	margin-top: -798px;
	padding-bottom: 123px;
}

#u1575
{
	top: 10px;
	position: fixed;
	z-index: 119;
	height: 10px;
}

#u1575-bw
{
	z-index: 119;
}

#u1572-10
{
	top: 9px;
	left: 5px;
	position: fixed;
	z-index: 120;
}

#u105-10
{
	top: 4px;
	left: 0px;
	position: fixed;
	z-index: 139;
}

#u102
{
	top: 0px;
	position: fixed;
	z-index: 149;
	height: 10px;
}

#u102-bw
{
	z-index: 149;
}

#u299
{
	min-height: 230px;
	z-index: 6;
	padding-bottom: 20px;
	background: transparent url("../images/breezi_placeit-21.jpg") no-repeat center center;
	background-size: cover;
}

#u4260
{
	margin-right: -10000px;
	margin-top: 115px;
	background-color: transparent;
	border-color: transparent;
	left: 30px;
	width: 115px;
	position: relative;
	z-index: 114;
	border-width: 0px;
}

#u4234
{
	margin-right: -10000px;
	background-color: transparent;
	border-color: transparent;
	width: 115px;
	position: relative;
	z-index: 115;
	border-width: 0px;
}

#u4235
{
	border-radius: 1000px 1000px 1000px 0px ;
	background-color: #FFFFFF;
	margin-right: -10000px;
	width: 115px;
	position: relative;
	z-index: 116;
	height: 115px;
}

#u4240
{
	margin-right: -10000px;
	margin-top: 48px;
	background-color: transparent;
	left: 8px;
	width: 100px;
	position: relative;
	z-index: 117;
}

#u299-bw
{
	min-height: 230px;
	z-index: 6;
}

#u305
{
	min-height: 231px;
	z-index: 7;
	padding-bottom: 19px;
	background: #CCCCCC url("../images/musketeers_4.jpg") no-repeat center center;
	background-size: cover;
}

#u4266
{
	margin-right: -10000px;
	margin-top: 116px;
	background-color: transparent;
	border-color: transparent;
	left: 30px;
	width: 115px;
	position: relative;
	z-index: 109;
	border-width: 0px;
}

#u4247
{
	margin-right: -10000px;
	background-color: transparent;
	border-color: transparent;
	width: 115px;
	position: relative;
	z-index: 110;
	border-width: 0px;
}

#u4248
{
	border-radius: 1000px 1000px 1000px 0px ;
	background-color: #FFFFFF;
	margin-right: -10000px;
	width: 115px;
	position: relative;
	z-index: 111;
	height: 115px;
}

#u4253
{
	margin-right: -10000px;
	margin-top: 46px;
	background-color: transparent;
	left: 8px;
	width: 99px;
	position: relative;
	z-index: 112;
}

#u305-bw
{
	min-height: 231px;
	z-index: 7;
}

#u810-4
{
	text-align: center;
	margin-left: 50%;
	text-transform: uppercase;
	line-height: 29px;
	font-size: 24px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	background-color: transparent;
	min-height: 45px;
	width: 87px;
	color: #29ABE2;
	position: relative;
	z-index: 14;
}

#u801
{
	min-height: 370px;
	background-color: #FFFFFF;
	z-index: 2;
	padding-bottom: 53px;
}

#u1072
{
	position: relative;
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	margin-left: 50%;
	width: 205px;
	z-index: 49;
	padding-bottom: 0px;
}

#u856
{
	border-radius: 1000px;
	left: -69px;
	margin-left: 50%;
	width: 137px;
	position: relative;
	z-index: 50;
	height: 137px;
	background: transparent url("../images/12068435_10154522981973868_3597765353168107639_o.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u856
{
	margin-left: 50%;
	left: -69px;
	background-image: url("../images/12068435_10154522981973868_3597765353168107639_o_2x.jpg");
}

#u879-13
{
	text-align: center;
	font-weight: 500;
	left: -103px;
	margin-top: 8px;
	background-color: transparent;
	min-height: 125px;
	width: 205px;
	font-family: brandon-grotesque, sans-serif;
	position: relative;
	z-index: 51;
	margin-left: 50%;
}

#u801-bw
{
	min-height: 370px;
	z-index: 2;
}

#u1246
{
	background-color: #242424;
	z-index: 4;
}

#u1437-4
{
	text-align: center;
	margin-left: 50%;
	text-transform: uppercase;
	left: -56px;
	line-height: 29px;
	font-size: 24px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	background-color: transparent;
	min-height: 30px;
	width: 111px;
	color: #29ABE2;
	position: relative;
	z-index: 88;
}

#u1544
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 92;
}

#u1419
{
	margin-right: -10000px;
	position: relative;
	z-index: 72;
}

#u1427
{
	margin-right: -10000px;
	margin-top: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 80;
}

#u1417
{
	margin-right: -10000px;
	position: relative;
	z-index: 70;
}

#u1413
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 66;
}

#u1423
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 76;
}

#pu1544,#pu1435
{
	position: relative;
	width: 100%;
}

#u1435
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 86;
}

#u1433
{
	margin-right: -10000px;
	position: relative;
	z-index: 84;
}

#u1425
{
	margin-right: -10000px;
	position: relative;
	z-index: 78;
}

#u1415
{
	margin-right: -10000px;
	position: relative;
	z-index: 68;
}

#u1421
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 74;
}

#u1431
{
	margin-right: -10000px;
	position: relative;
	z-index: 82;
}

#u1802-6_img,#u1431_img
{
	vertical-align: top;
	display: block;
}

#u1559
{
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: relative;
	background-color: transparent;
	z-index: 94;
}

#u1411
{
	margin-right: -10000px;
	position: relative;
	z-index: 64;
}

#ppu1133,#u1544_img,#u1419_img,#u1427_img,#u1417_img,#u1413_img,#u1423_img,#u1435_img,#u1425_img,#u1421_img,#u1559_img,#u1411_img
{
	width: 100%;
}

#u1246-bw
{
	z-index: 4;
}

#u1067
{
	margin-right: -10000px;
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	width: 205px;
	position: relative;
	z-index: 18;
	padding-bottom: 0px;
}

#u865
{
	border-radius: 1000px;
	width: 137px;
	position: relative;
	z-index: 19;
	height: 137px;
	background: transparent url("../images/me_bw.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u865
{
	background-image: url("../images/me_bw_2x.png");
}

#u888-13
{
	text-align: center;
	font-weight: 500;
	margin-top: 8px;
	background-color: transparent;
	min-height: 125px;
	width: 205px;
	font-family: brandon-grotesque, sans-serif;
	position: relative;
	z-index: 20;
}

#u879-2,#u888-2
{
	line-height: 19px;
	font-size: 16px;
	text-transform: uppercase;
	color: #29ABE2;
}

#u879-4,#u879-6,#u879-8,#u888-4,#u888-6,#u888-8
{
	font-size: 14px;
	color: #000000;
}

#u879-11,#u888-11
{
	color: #000000;
	font-size: 12px;
	line-height: 14px;
}

#u879-9,#u888-9
{
	text-decoration: none;
	color: #29ABE2;
}

#u1077
{
	margin-right: -10000px;
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	width: 205px;
	position: relative;
	z-index: 33;
	padding-bottom: 0px;
}

#u819
{
	border-radius: 1000px;
	width: 137px;
	position: relative;
	z-index: 34;
	height: 137px;
	background: transparent url("../images/12565481_10153252418866781_8940086477228205294_n-ieu819-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/12565481_10153252418866781_8940086477228205294_n.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

.hidpi #u819
{
	background-image: url("../images/12565481_10153252418866781_8940086477228205294_n_2x.jpg");
}

#u874-14
{
	text-align: center;
	position: relative;
	background-color: transparent;
	min-height: 125px;
	width: 205px;
	color: #29ABE2;
	margin-top: 8px;
	z-index: 35;
}

#u874-2
{
	font-weight: 500;
	line-height: 19px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: brandon-grotesque, sans-serif;
}

#u874-9
{
	font-weight: 500;
	font-size: 14px;
	font-family: brandon-grotesque, sans-serif;
}

#u874-8
{
	color: #000000;
}

#u874-12
{
	font-family: FugueHead;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u874-10
{
	text-decoration: none;
	line-height: 14px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	color: #29ABE2;
	font-size: 12px;
}

#u1661
{
	background-color: #FFFFFF;
	z-index: 3;
}

#u1946
{
	text-align: center;
	margin-right: -10000px;
	border-style: solid;
	line-height: 48px;
	font-size: 24px;
	position: relative;
	border-width: 3px;
	font-weight: 500;
	background-color: transparent;
	border-color: #29ABE2;
	min-height: 46px;
	color: #29ABE2;
	font-family: brandon-grotesque, sans-serif;
	z-index: 9;
}

#u1661-bw
{
	z-index: 3;
}

#u133
{
	min-height: 115px;
	z-index: 130;
	padding-bottom: 36px;
}

#u287_align_to_page,#u299_align_to_page,#u305_align_to_page,#u801_align_to_page,#u1246_align_to_page,#u1661_align_to_page,#u133_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
}

#u154-8
{
	margin-right: -10000px;
	left: -185px;
	margin-top: 76px;
	min-height: 20px;
	width: 165px;
	position: relative;
	z-index: 131;
	margin-left: 100%;
}

#u133-bw
{
	min-height: 115px;
	z-index: 130;
}

.html
{
	background-color: #29ABE2;
}

body
{
	position: relative;
}

@media (min-width: 666px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.8000000000002px;
	}

	#u1133
	{
		background-image: url("../images/photo-1427477321886-abc24e8ce923_flip-u1133-fr.png");
		background-color: #444444;
		background-color: rgba(0,0,0,0.73);
	}

	.hidpi #u1133
	{
		background-image: url("../images/photo-1427477321886-abc24e8ce923_flip-u1133-fr_2x.png");
	}

	#pu249-4
	{
		margin-right: -10000px;
		margin-top: 202px;
		width: 55.84%;
		margin-left: 44.17%;
	}

	#u249-4
	{
		width: 507px;
		min-height: 152px;
		margin-left: 100%;
		left: -556px;
	}

	#u1961
	{
		margin-top: 121px;
	}

	#u801_align_to_page
	{
		margin-bottom: -3px;
	}

	#u1077
	{
		margin-top: 100px;
		left: 49px;
	}

	#u819
	{
		margin-left: 34px;
	}

	#pu810-4
	{
		padding-bottom: 1px;
		margin-right: -10000px;
		margin-top: 35px;
		width: 21.36%;
		margin-left: 39.33%;
	}

	#u810-4
	{
		left: -44.5px;
	}

	#u1072
	{
		margin-top: 20px;
		left: -103.5px;
	}

	#u1067
	{
		margin-top: 100px;
		margin-left: 100%;
		left: -254px;
	}

	#u865,.hidpi #u865
	{
		margin-left: 100%;
		left: -171px;
	}

	#u888-13
	{
		margin-left: 100%;
		left: -205px;
	}

	#u801-bw
	{
		margin-top: -3px;
	}

	#u1246_align_to_page
	{
		padding-top: 47px;
		padding-bottom: 99px;
	}

	#pu1544
	{
		margin-top: 58px;
	}

	#u1544
	{
		margin-top: 12px;
		width: 10.21%;
		left: 19.28%;
	}

	#u1419
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		margin-top: 2px;
		width: 5.32%;
		left: 34.07%;
	}

	#u1427
	{
		width: 11.98%;
		left: 44.07%;
	}

	#u1417
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		width: 8.55%;
		left: 60.73%;
	}

	#u1413
	{
		margin-top: 6px;
		width: 7.09%;
		left: 73.96%;
	}

	#pu1435
	{
		margin-top: 23px;
	}

	#u1435
	{
		margin-top: 4px;
		width: 8.86%;
		left: 18.86%;
	}

	#u1423
	{
		margin-top: 5px;
		width: 9.8%;
		left: 32.71%;
	}

	#u1433
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		margin-top: 3px;
		width: 5.84%;
		left: 47.5%;
	}

	#u1425
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		margin-top: 10px;
		width: 9.38%;
		left: 58.34%;
	}

	#u1415
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		width: 8.23%;
		left: 72.71%;
	}

	#u1433_img,#u1415_img
	{
		width: 100%;
	}

	#pu1421
	{
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	#u1421
	{
		margin-top: 16px;
		width: 8.96%;
		left: 26.98%;
	}

	#u1431
	{
		width: 7.4%;
		left: 39.17%;
	}

	#u1431_img
	{
		width: 98.6%;
	}

	#u1559
	{
		margin-top: 6px;
		width: 15.63%;
		left: 49.69%;
	}

	#u1411
	{
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		margin-top: 10px;
		width: 4.59%;
		left: 68.44%;
	}

	#u1246,#u1246-bw
	{
		min-height: 417px;
	}

	#u1661
	{
		min-height: 95px;
		padding-bottom: 41px;
	}

	#u1946
	{
		margin-top: 41px;
		width: 25.53%;
		left: 36.88%;
	}

	#u1661-bw
	{
		min-height: 95px;
	}
}

@media (max-width: 665px)
{
	#muse_css_mq
	{
		background-color: #000299;
	}

	#bp_665.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9646668148757px;
		max-width: 665px;
	}

	#u1133
	{
		background-image: url("../images/photo-1427477321886-abc24e8ce923_flip-u1133-fr2.png");
		background-color: #444444;
		background-color: rgba(0,0,0,0.73);
	}

	.hidpi #u1133
	{
		background-image: url("../images/photo-1427477321886-abc24e8ce923_flip-u1133-fr_2x2.png");
	}

	#u249-4
	{
		width: 351px;
		min-height: 274px;
		margin-right: -10000px;
		margin-top: 180px;
		margin-left: 50%;
		left: -176px;
	}

	#u1961
	{
		margin-right: -10000px;
		margin-top: 475px;
	}

	#u810-4
	{
		margin-top: 32px;
		left: -44px;
	}

	#pu801
	{
		margin-top: 20px;
		width: 100%;
	}

	#u1072
	{
		margin-right: -10000px;
		margin-top: 100px;
		left: -103px;
	}

	#u801-bw
	{
		margin-top: 172px;
	}

	#u1246
	{
		min-height: 522px;
	}

	#u1246_align_to_page
	{
		padding-top: 46px;
		padding-bottom: 38px;
	}

	#pu1544
	{
		margin-top: 45px;
	}

	#u1544
	{
		margin-top: 13px;
		width: 18.05%;
		left: 18.65%;
	}

	#u1419
	{
		width: 9.33%;
		left: 44.82%;
	}

	#u1427
	{
		width: 21.21%;
		left: 62.56%;
	}

	#pu1417
	{
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#u1417
	{
		width: 13.84%;
		left: 20.76%;
	}

	#u1413
	{
		margin-top: 7px;
		width: 11.58%;
		left: 44.22%;
	}

	#u1423
	{
		margin-top: 2px;
		width: 15.79%;
		left: 63.01%;
	}

	#pu1435
	{
		margin-top: 39px;
	}

	#u1435
	{
		margin-top: 9px;
		width: 12.64%;
		left: 21.96%;
	}

	#u1433
	{
		width: 11.73%;
		left: 42.56%;
	}

	#u1433_img
	{
		display: block;
		vertical-align: top;
		width: 98.72%;
	}

	#u1425
	{
		margin-top: 9px;
		width: 20%;
		left: 64.37%;
	}

	#pu1415
	{
		margin-top: 33px;
		position: relative;
		width: 100%;
	}

	#u1415
	{
		display: block;
		vertical-align: top;
		width: 12.94%;
		left: 31.43%;
	}

	#u1421
	{
		margin-top: 2px;
		width: 17.75%;
		left: 50.98%;
	}

	#pu1431
	{
		margin-top: 20px;
		position: relative;
		width: 100%;
	}

	#u1431
	{
		width: 12.79%;
		left: 20.76%;
	}

	#u1431_img
	{
		width: 100%;
	}

	#u1559
	{
		margin-top: 5px;
		width: 29.93%;
		left: 36.55%;
	}

	#u1411
	{
		margin-top: 12px;
		width: 8.28%;
		left: 70.53%;
	}

	#u1419_img,#u1417_img,#u1425_img,#u1411_img
	{
		display: block;
		vertical-align: top;
	}

	#u1246-bw
	{
		min-height: 522px;
		margin-top: 785px;
	}

	#u1067
	{
		margin-top: 543px;
		margin-left: 50%;
		left: -98px;
	}

	#u1077
	{
		margin-left: 50%;
		left: -106px;
	}

	#u865,.hidpi #u865,#u819,.hidpi #u819
	{
		margin-left: 50%;
		left: -69px;
	}

	#u888-13,#u874-14
	{
		margin-left: 50%;
		left: -103px;
	}

	#u1661
	{
		min-height: 158px;
		padding-bottom: 20px;
	}

	#u1946
	{
		width: 230px;
		margin-top: 62px;
		margin-left: 50%;
		left: -121px;
	}

	#u1661-bw
	{
		min-height: 158px;
	}

	body
	{
		min-width: 400px;
	}
}

