#u1575
{
	background-color: #FFFFFF;
}

#u1572-10,#u105-10_img
{
	display: block;
	vertical-align: top;
}

#u102,#u133
{
	background-color: #29ABE2;
}

#u133_align_to_page
{
	max-width: 960px;
}

#u154-8
{
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 13px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
}




@media (min-width: 923px)
{
	#u133_align_to_page
	{
		max-width: 960px;
	}

}

@media (max-width: 922px)
{
	#u133_align_to_page
	{
		max-width: 922px;
	}

}

@media (min-width: 924px)
{
	#u133_align_to_page
	{
		max-width: 960px;
	}

}

@media (max-width: 923px)
{
	#u133_align_to_page
	{
		max-width: 923px;
	}

}

