.version.musketeers /* version checker */
{
	color: #0000F6;
	background-color: #CF13AA;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	z-index: 1;
	margin-right: auto;
	width: 100%;
	margin-left: auto;
	background-color: transparent;
	min-height: 500px;
	background-image: none;
	border-color: transparent;
}

#pu1575
{
	padding-bottom: 123px;
	width: 100%;
}

#u1575
{
	top: 10px;
	z-index: 95;
	position: fixed;
	height: 10px;
}

#u1575-bw
{
	z-index: 95;
}

#u1572-10
{
	top: 9px;
	left: 5px;
	z-index: 96;
	position: fixed;
}

#u105-10
{
	top: 4px;
	left: 0px;
	z-index: 115;
	position: fixed;
}

#u102
{
	top: 0px;
	z-index: 125;
	position: fixed;
	height: 10px;
}

#u102-bw
{
	z-index: 125;
}

#u14265
{
	padding-bottom: 112px;
	background-color: #FFFFFF;
	z-index: 2;
}

#u14265_align_to_page
{
	margin-bottom: -112px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u4161
{
	background-color: transparent;
	z-index: 4;
	margin-right: -10000px;
	margin-top: 208px;
	position: relative;
}

#u3531-9
{
	z-index: 86;
	margin-right: -10000px;
	font-weight: 500;
	background-color: transparent;
	min-height: 68px;
	margin-top: 106px;
	font-family: brandon-grotesque, sans-serif;
	font-size: 36px;
	color: #29ABE2;
	position: relative;
}

#u3531-2
{
	line-height: 43px;
}

#u3531-3
{
	line-height: 18px;
	font-size: 18px;
}

#u3531-4,#u3531-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3531-5
{
	line-height: 18px;
	font-size: 18px;
	color: #7F7F7F;
}

#u3531-6
{
	line-height: 24px;
	font-size: 24px;
}

#u14265-bw
{
	z-index: 2;
	margin-top: -112px;
}

#u4161_img,#pu3696
{
	width: 100%;
}

#u3696
{
	background-color: #242424;
	z-index: 3;
}

#u3696-bw
{
	z-index: 3;
}

#slideshowu3504
{
	z-index: 6;
	margin-right: -10000px;
	width: 0.01px;
	position: relative;
}

#u3519
{
	background-color: transparent;
	width: 763px;
	position: absolute;
	height: 360px;
}

#u3519popup
{
	z-index: 7;
}

#u3524
{
	border-width: 0px;
	z-index: 8;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u3524_img
{
	padding: 64px 217px 63px 218px;
}

#u4584
{
	border-width: 0px;
	z-index: 10;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4584_img
{
	padding: 63px 216px;
}

#u4190
{
	border-width: 0px;
	z-index: 12;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4190_img
{
	padding-left: 110px;
	padding-right: 111px;
}

#u4604
{
	border-width: 0px;
	z-index: 14;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4604_img
{
	padding: 74px 230px;
}

#u4624
{
	border-width: 0px;
	z-index: 16;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4624_img
{
	padding: 74px 222px;
}

#u4668
{
	border-width: 0px;
	z-index: 18;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4688
{
	border-width: 0px;
	z-index: 20;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4708
{
	border-width: 0px;
	z-index: 22;
	margin-right: -10000px;
	background-color: transparent;
	width: 763px;
	position: relative;
	border-color: transparent;
	height: 360px;
}

#u4668_img,#u4688_img,#u4708_img
{
	padding: 74px 221px 74px 222px;
}

#u3510
{
	border-width: 0px;
	background-color: transparent;
	position: absolute;
	border-color: transparent;
}

#u3510popup
{
	z-index: 24;
}

#u3513
{
	background-color: transparent;
	z-index: 25;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u3513_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u4590
{
	background-color: transparent;
	z-index: 27;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u3513.SSSlideLinkSelected,#u4590.SSSlideLinkSelected
{
	border-width: 0px;
	min-height: 0px;
	width: 60px;
	border-color: transparent;
	height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u4196
{
	background-color: transparent;
	z-index: 29;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4610
{
	background-color: transparent;
	z-index: 31;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4590_img,#u4610_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u4630
{
	background-color: transparent;
	z-index: 33;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4674
{
	background-color: transparent;
	z-index: 35;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4694
{
	background-color: transparent;
	z-index: 37;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4714
{
	background-color: transparent;
	z-index: 39;
	margin-right: -10000px;
	width: 60px;
	position: relative;
	border-color: #6B6B6B;
	height: 45px;
}

#u4196.SSSlideLinkSelected,#u4610.SSSlideLinkSelected,#u4630.SSSlideLinkSelected,#u4674.SSSlideLinkSelected,#u4694.SSSlideLinkSelected,#u4714.SSSlideLinkSelected
{
	border-width: 0px;
	margin-left: 0px;
	margin-right: -10000px;
	min-height: 0px;
	margin-bottom: 0px;
	width: 60px;
	border-color: transparent;
	height: 45px;
}

#u4196_img,#u4630_img,#u4674_img,#u4694_img,#u4714_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u3505
{
	background-color: transparent;
	width: 633px;
	position: absolute;
}

#u3505popup
{
	z-index: 41;
}

#u3507-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 42;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4596-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 46;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4202-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 50;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4616-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 54;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4636-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 58;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4680-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 62;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4700-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 66;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u4720-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	z-index: 70;
	margin-right: -10000px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 613px;
	color: #FFFFFF;
	position: relative;
	border-color: transparent;
}

#u3509-4
{
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	border-width: 0px;
	min-height: 20px;
	font-family: brandon-grotesque, sans-serif;
	background-color: transparent;
	width: 48px;
	color: #FFFFFF;
	position: absolute;
	border-color: transparent;
}

#u3509-4popup
{
	z-index: 74;
}

#u3529-4
{
	padding: 10px;
	line-height: 20px;
	border-width: 0px;
	min-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background-color: #FFFFFF;
	width: 10px;
	text-align: center;
	position: absolute;
	border-color: transparent;
}

#u3529-4popup
{
	z-index: 78;
}

#u3529
{
	color: #999999;
}

#u3517-4
{
	padding: 10px;
	color: #999999;
	line-height: 20px;
	border-width: 0px;
	min-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background-color: #FFFFFF;
	width: 10px;
	text-align: center;
	position: absolute;
	border-color: transparent;
}

#u3517-4popup
{
	z-index: 82;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u133
{
	padding-bottom: 36px;
	z-index: 106;
	min-height: 115px;
}

#u133_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u154-8
{
	left: -185px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 76px;
	z-index: 107;
	width: 165px;
	position: relative;
	margin-left: 100%;
}

#u133-bw
{
	z-index: 106;
	min-height: 115px;
}

.html
{
	background-color: #29ABE2;
}

body
{
	position: relative;
}

@media (min-width: 924px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#u14265_align_to_page
	{
		max-width: 960px;
	}

	#u4161
	{
		width: 23.03%;
		left: 6.67%;
	}

	#u3531-9
	{
		width: 55.01%;
		left: 34.69%;
	}

	#u14265,#u14265-bw
	{
		min-height: 264px;
	}

	#u3696,#u3696-bw
	{
		height: 464px;
	}

	#slideshowu3504
	{
		height: 412px;
		margin-top: 30px;
		left: 2.09%;
	}

	#u3519
	{
		left: 157px;
	}

	#u3510
	{
		width: 130px;
		padding-bottom: 150px;
	}

	#u4590
	{
		left: 70px;
	}

	#u4196
	{
		margin-top: 55px;
	}

	#u4610
	{
		margin-top: 55px;
		left: 70px;
	}

	#u4196.SSSlideLinkSelected,#u4610.SSSlideLinkSelected
	{
		margin-top: 55px;
	}

	#u4630
	{
		margin-top: 110px;
	}

	#u4674
	{
		margin-top: 110px;
		left: 70px;
	}

	#u4630.SSSlideLinkSelected,#u4674.SSSlideLinkSelected
	{
		margin-top: 110px;
	}

	#u4694
	{
		margin-top: 165px;
	}

	#u4714
	{
		margin-top: 165px;
		left: 70px;
	}

	#u4694.SSSlideLinkSelected,#u4714.SSSlideLinkSelected
	{
		margin-top: 165px;
	}

	#u3505
	{
		top: 372px;
		left: 157px;
	}

	#u3509-4
	{
		top: 372px;
		left: 821px;
	}

	#u3529-4
	{
		top: 372px;
		left: 790px;
	}

	#u3517-4
	{
		top: 372px;
		left: 890px;
	}

}

@media (max-width: 923px)
{
	#muse_css_mq
	{
		background-color: #00039b;
	}

	#bp_923.active
	{
		display: block;
	}

	#page,#u14265_align_to_page
	{
		max-width: 923px;
	}

	#u4161
	{
		width: 22.97%;
		left: 6.61%;
	}

	#u3531-9
	{
		width: 55.04%;
		left: 34.78%;
	}

	#u14265,#u14265-bw
	{
		min-height: 262px;
	}

	#u3696,#u3696-bw
	{
		height: 551px;
	}

	#slideshowu3504
	{
		height: 499px;
		margin-top: 28px;
		margin-left: 50%;
		left: -442px;
	}

	#u3519
	{
		top: 59px;
		left: 60px;
	}

	#u3510
	{
		width: 883px;
		padding-bottom: 14px;
	}

	#u3513
	{
		left: 166px;
	}

	#u4590
	{
		left: 236px;
	}

	#u4196
	{
		left: 306px;
	}

	#u4610
	{
		left: 376px;
	}

	#u4630
	{
		left: 446px;
	}

	#u4674
	{
		left: 516px;
	}

	#u4694
	{
		left: 586px;
	}

	#u4714
	{
		left: 656px;
	}

	#u4196.SSSlideLinkSelected,#u4610.SSSlideLinkSelected,#u4630.SSSlideLinkSelected,#u4674.SSSlideLinkSelected,#u4694.SSSlideLinkSelected,#u4714.SSSlideLinkSelected
	{
		margin-top: 0px;
	}

	#u3505
	{
		top: 419px;
		left: 125px;
	}

	#u3509-4
	{
		top: 459px;
		left: 408px;
	}

	#u3529-4
	{
		top: 459px;
		left: 377px;
	}

	#u3517-4
	{
		top: 459px;
		left: 477px;
	}

	body
	{
		min-width: 320px;
	}
}

