	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#u14268_align_to_page
	{
		max-width: 960px;
	}

	#u3759
	{
		width: 22.09%;
		left: 7.71%;
	}

	#u3290-11
	{
		width: 55.01%;
		left: 34.69%;
	}

	#u14268,#u14268-bw
	{
		min-height: 270px;
	}

	#u3288,#u3288-bw
	{
		height: 474px;
	}

	#slideshowu3320
	{
		height: 412px;
		margin-top: 27px;
		left: 2.09%;
	}

	#u3325
	{
		left: 215px;
	}

	#u3332
	{
		width: 215px;
		padding-bottom: 202px;
	}

	#u3337
	{
		left: 7px;
	}

	#u3744
	{
		left: 77px;
	}

	#u3893
	{
		left: 147px;
	}

	#u3913
	{
		margin-top: 55px;
		left: 7px;
	}

	#u3873
	{
		margin-top: 55px;
		left: 77px;
	}

	#u3953
	{
		margin-top: 55px;
		left: 147px;
	}

	#u3913.SSSlideLinkSelected,#u3873.SSSlideLinkSelected,#u3953.SSSlideLinkSelected
	{
		margin-top: 55px;
	}

	#u3993
	{
		margin-top: 110px;
		left: 7px;
	}

	#u4013
	{
		margin-top: 110px;
		left: 77px;
	}

	#u4053
	{
		margin-top: 110px;
		left: 147px;
	}

	#u3993.SSSlideLinkSelected,#u4013.SSSlideLinkSelected,#u4053.SSSlideLinkSelected
	{
		margin-top: 110px;
	}

	#u4073
	{
		margin-top: 165px;
		left: 7px;
	}

	#u4093
	{
		margin-top: 165px;
		left: 77px;
	}

	#u4073.SSSlideLinkSelected,#u4093.SSSlideLinkSelected
	{
		margin-top: 165px;
	}

	#u3339
	{
		top: 372px;
		left: 215px;
	}

	#u3341-4,#u3750-4,#u3899-4,#u3919-4,#u3879-5,#u3959-4,#u3999-4,#u4019-4,#u4059-4,#u4079-4,#u4099-4
	{
		min-height: 20px;
	}

	#u3344-4
	{
		top: 372px;
		left: 821px;
	}

	#u3343-4
	{
		top: 372px;
		left: 790px;
	}

	#u3345-4
	{
		top: 372px;
		left: 890px;
	}


