	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#u14265_align_to_page
	{
		max-width: 960px;
	}

	#u4161
	{
		width: 23.03%;
		left: 6.67%;
	}

	#u3531-9
	{
		width: 55.01%;
		left: 34.69%;
	}

	#u14265,#u14265-bw
	{
		min-height: 264px;
	}

	#u3696,#u3696-bw
	{
		height: 464px;
	}

	#slideshowu3504
	{
		height: 412px;
		margin-top: 30px;
		left: 2.09%;
	}

	#u3519
	{
		left: 157px;
	}

	#u3510
	{
		width: 130px;
		padding-bottom: 150px;
	}

	#u4590
	{
		left: 70px;
	}

	#u4196
	{
		margin-top: 55px;
	}

	#u4610
	{
		margin-top: 55px;
		left: 70px;
	}

	#u4196.SSSlideLinkSelected,#u4610.SSSlideLinkSelected
	{
		margin-top: 55px;
	}

	#u4630
	{
		margin-top: 110px;
	}

	#u4674
	{
		margin-top: 110px;
		left: 70px;
	}

	#u4630.SSSlideLinkSelected,#u4674.SSSlideLinkSelected
	{
		margin-top: 110px;
	}

	#u4694
	{
		margin-top: 165px;
	}

	#u4714
	{
		margin-top: 165px;
		left: 70px;
	}

	#u4694.SSSlideLinkSelected,#u4714.SSSlideLinkSelected
	{
		margin-top: 165px;
	}

	#u3505
	{
		top: 372px;
		left: 157px;
	}

	#u3509-4
	{
		top: 372px;
		left: 821px;
	}

	#u3529-4
	{
		top: 372px;
		left: 790px;
	}

	#u3517-4
	{
		top: 372px;
		left: 890px;
	}


