.version.thejamfactory /* version checker */
{
	color: #00000B;
	background-color: #0D3592;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499.779418886199px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu1575
{
	padding-bottom: 123px;
	width: 100%;
}

#u1575
{
	z-index: 18;
	height: 10px;
	position: fixed;
	top: 10px;
}

#u1575-bw
{
	z-index: 18;
}

#u1572-10
{
	z-index: 19;
	position: fixed;
	top: 9px;
	left: 5px;
}

#u105-10
{
	z-index: 38;
	position: fixed;
	top: 4px;
	left: 0px;
}

#u102
{
	z-index: 48;
	height: 10px;
	position: fixed;
	top: 0px;
}

#u102-bw
{
	z-index: 48;
}

#u4962-6
{
	z-index: 2;
	min-height: 68px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 36px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 55.01%;
	margin-left: 34.69%;
}

#u4962-2
{
	line-height: 43px;
}

#u14173
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
	width: 63.34%;
	margin-left: 18.44%;
}

#u14183
{
	z-index: 14;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 63.23%;
	margin-left: 18.44%;
}

#pu14211-4
{
	margin-top: 37px;
	width: 100%;
}

#u14211-4
{
	z-index: 8;
	min-height: 68px;
	background-color: transparent;
	line-height: 18px;
	color: #29ABE2;
	font-size: 36px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	width: 55.01%;
	left: 34.69%;
}

#u4962-4,#u14211-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4962-3,#u14211
{
	font-size: 18px;
	line-height: 9px;
}

#u14193
{
	z-index: 16;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 63.23%;
	left: 18.44%;
}

#u14183_img,#u14193_img
{
	width: 100%;
}

#u133
{
	z-index: 29;
	min-height: 115px;
	padding-bottom: 36px;
}

#u133_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u154-8
{
	z-index: 30;
	width: 165px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	margin-left: 100%;
	left: -185px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u133-bw
{
	z-index: 29;
	min-height: 115px;
}

.html
{
	background-color: #29ABE2;
}

body
{
	position: relative;
	min-width: 320px;
}

